<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mfu.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="com.example.mfu.dto.Board">
		<selectKey resultType="Integer" keyProperty="boardNo" order="AFTER"> <!--parameterType.setXXX(key)-->
			select last_insert_id()
		</selectKey>
		insert into board(board_title) values(#{title});
	</insert>
</mapper>